.form-label {
  text-align: left;
}

/* Style the container of the form */
.form-container {
  text-align: center;
}

/* Style the user icon */
.user-icon {
  font-size: 48px;
  color: #333; /* Change the color as needed */
  margin-bottom: 20px;
}

/* Style the form fields */
.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the placeholders for the form fields */
.form-input::placeholder {
  color: #999; /* Change the color as needed */
}

/* Style the login button */
.login-button {
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Style the "Remember me" checkbox */
.remember-me {
  display: inline-block;
  margin-right: 10px;
  
}

/* Style the "Cancel" button */
.cancel-button {
  background-color: #ff5733; /* Red background color */
  color: #fff; /* White text color */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the "Forgot password?" link */
.forgot-password {
  float: right;
  text-decoration: none;
  color: #333; /* Change the color as needed */
  margin-top: 10px;
}
