div{
    height: 200px;
    width: 300px;

}

#b1{
    background-color: blue;
    position: fixed;
    top: 10px;


}

#b2{
    background-color: greenyellow;
    position: fixed;
    top: 210px;


}

#b3{
    background-color: red;
    position: fixed;
    bottom: 100px;

}